link(rel='stylesheet', href='../stylesheets/style.css')

h2 Add a new thingy


a(href="..") Back to main

<form method="POST" action="/new">
p Author's name
input(type="text" name="name")
p Message text
input(type="text" name="message")
p 
button(class='button') Submit
</form>