link(rel='stylesheet', href='../stylesheets/style.css')
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

block content
  div(class='glass')
    h1 Thanks for registering!
    a(href="./login" class='login') Login
    a(href='..')
        i.fa.fa-arrow-left(aria-hidden='true') Go back
    <form method="POST" action="">
    label(for="username")  Username
    input(type="text" placeholder="username" name="username")
    label(for="password")  Password
    input(type="password" placeholder="password" name="password")
    p 
    button(class='button') Submit
    </form>
    div

