link(rel='stylesheet', href='../stylesheets/style.css')
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

block content
  div(class='glass')
    h1 Welcome back!
    a(href="./login" class='login') Login
    a(href='..')
        i.fa.fa-arrow-left(aria-hidden='true') Go back
    <form method="POST" action="/new">
    p Username
    input(type="text" name="username")
    p Password
    input(type="password" name="password")
    p 
    button(class='button') Submit
    </form>
    div

